body {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #E5E5E5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.headerTitle {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between; */
  text-align: center;
  /* align-items: center; */
}

.tabs {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.iconbtn {
  display: inline-flex;
  /* flex-direction: row; */
  /* background: #000; */
  color: #000;
  /* background: #fff; */
  /* color: #fff; */
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  text-align: center;
}

.nametag {
  display: inline-flex;
  box-shadow: none;
  /* flex-direction: row; */
  /* background: #000; */
  color: #3B3B3B;
  background: #E5E5E5;
  /* color: #fff; */
  border-radius: 4px;
  border-color: #B8B8B8;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  text-align: center;
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

/*Card layouts*/

.card-outline-summary {
  width: 216px;
  height: 282px;

  background: #FFFFFF;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-outline-detail {

  position: absolute;
  width: 334px;
  height: 480px;
  left: 132px;
  top: 208px;
  background: #FFFFFF;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.name-frame {
  /* position: absolute; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 98px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #969696;
}

.card-name {
  height: 24px;
  left: 16px;
  bottom: 10px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.card-line {
  width: 184px;
  height: 2px;
  background: #D4D4D4;
  border-radius: 2px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.card-line-large {
  width: 302px;
  height: 2px;
  background: #D4D4D4;
  border-radius: 2px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.card-details-group {
  align-items: center;
  padding-left: 15px;
  overflow-y: auto;
}

.card-summary-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 10px;
  width: 184px;
  height: 32px;
  background: #EDEDED;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card-details-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 10px;
  width: 302px;
  height: 32px;
  background: #EDEDED;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 184px;
  height: 25px;
  flex: none;
}

.card-title-box-large {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 302px;
  height: 32px;
  flex: none;
}

.name-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.summary-text {
  font-size: 10px;
}

.summary-text-2 {
  font-size: 12px;
}

.space-between-10 {
  height: 10px;
}

.space-between-15 {
  height: 15px;
}

.search-box {
  width: 352px;
  height: 32px;

  background: #FFFFFF;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.search-interior {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  /* padding: 5px; */

}

input:focus {
  outline: none;
}

.add-deck-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 256px;
  height: 120px;
  right: 150px;
  top: 240px;
  padding: 10px;
  /* default/shade/white */

  background: #FFFFFF;
  /* default/neutral-gray/400 */

  border: 1px solid #B8B8B8;
  box-shadow: 0px 19px 25px rgba(0, 0, 0, 0.14944), 0px 1.26352px 1.66253px rgba(0, 0, 0, 0.37);
  border-radius: 4px;
}

.deck-summary-outline {
  width: 216px;
  height: 180px;

  /* default/shade/white */

  background: #FFFFFF;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.deck-name-frame {
  /* position: absolute; */

  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 98px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 9;

  /* default/red/700 */
}


.deck-name-background {
  position: absolute;
  width: 107.45px;
  height: 109.69px;
  left: calc(75% - 107.45px/2 - 1.72px);
  top: calc(50% - 109.69px/2 - 0.5px);
  opacity: 0.2;
  /* default/neutral-gray/200 */

}